
.title {
    .sect-base(white);
    width: 75%;
    margin: auto;
    font-size: 2rem;
    
    @media @tablet {
        width: 96%;
        margin: auto;
    }
    @media @phone {
        width: 96%;
        margin: auto;
    }
    
    // h2 {
    //     justify-content: center;
    // }?
}


.top {
    .sect-base(lightgray);
    width: 96%;
    margin: auto;
    align-content: center;

    // @media @max {
    //     width: 80%;
    // }

    @media @tablet {
        width: 96%;
    }
    
    @media @phone {
        width: 96%;
    }


        .quote {
            background: white;
            align-content: center;
            font-size: 1rem;
            margin: 1em;
            padding: 1rem;
            border: 4px double darkgray;
        }

        .q-img {
            width: 100%;
        }

        img { 
            width: 100%;
        }
}

.mid {
    .sect-base(white);
    width: 96%;
    margin: auto;

        .how {
            padding-right: 3%;
            margin: 1em;
            
            .table {
                width: 100%;
            }

            @media @phone {
                padding-right: 2%;
                margin: 2em;
            }
        }

        .belief {
            padding-left: 1em;
         }
}

.bot {
    .sect-base(lightgray);
    width: 96%;
    margin: auto;
    padding: 7em;

        @media @tablet {

        }
        
        @media @phone {

        }
}