* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    font-family: "raleway";
    width: 98%;
    padding: 2em;
    background: -webkit-linear-gradient(90deg, rgb(250, 253, 203), rgb(174, 231, 232));
    background: linear-gradient(90deg, rgb(250, 253, 203), rgb(174, 231, 232));

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5em;
    }
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #fafdcb, #aee7e8, #28c3d4, #248ea9);
    height: 4em;
    margin-bottom: 5em;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: black;
            margin: 1em;
            border: 2px solid #248ea9;
            border-radius: 8px;
            padding: 0.4em;
        }

        a:hover {
            background-color: #248ea9;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn {
    background-color: #248ea9;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:hover {
    background-color: #fafdcb;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}